

.body3{
    background: linear-gradient(to right, royalblue, slategrey);
    color: gold;
    padding-bottom: 1cm;
    text-align: center;
}
.button2 {
    text-align: center;
    font-size: medium;
    width: 800px;
    color:#9D4A4B;
}
.button2:hover{
    cursor: pointer;
    background-color: aquamarine;
    color: goldenrod;
}